<div style="margin: 60px 100px;">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>HN0001</mat-card-title>
            <mat-card-subtitle>
                <button mat-button>수정</button>
            </mat-card-subtitle>

            <!-- <section class="example-section" style="position: absolute; right: 10px;">
                <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    [checked]="checked"
                    [disabled]="disabled">
                    사용
                </mat-slide-toggle>
            </section> -->
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                i5 7th
            </p>
        </mat-card-content>
        <mat-card-actions>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip>레노버</mat-chip>
                <mat-chip>노트북</mat-chip>
                <mat-chip color="primary" selected>@장매니저</mat-chip>
            </mat-chip-list>
        </mat-card-actions>
    </mat-card>

</div>