mat-tree-node {
    &:hover {
        background-color: #d24b8b;
        color: white;
        transition: 0.25s;
    }
    cursor: pointer;
    transition: 0.25s;
}

#j-left-menu {
    z-index: 11;
    position: absolute;
    width: 50px;
    height: 100%;
    background-image: url(/assets/img/bg-horizen.png);
}

#j-left-menu-tree {
    z-index: 10;
    position: absolute;
    left: -280px;
    width: 280px;
    height: -webkit-fill-available;
    padding-left: 50px;
    background-color: white;
    box-shadow: 0px 4px 3px 1px gainsboro;
    transition: 0.5s ease-in-out;
}